<p id="notice"><%= notice %></p>

<h1>Todo Items</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Create</th>
      <th>Update</th>
      <th>Destroy</th>
      <th>New</th>
      <th>Show</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.index %></td>
        <td><%= todo_item.create %></td>
        <td><%= todo_item.update %></td>
        <td><%= todo_item.destroy %></td>
        <td><%= todo_item.new %></td>
        <td><%= todo_item.show %></td>
        <td><%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo Item', new_todo_item_path %>
