<p id="notice"><%= notice %></p>
<center>
<h1>Todo Lists</h1>

<table>
  <thead>
    <tr>
      <%= form_for :todo_item  do |f| %>
        <%= f.text_field :title %>
        <%= f.check_box :completed, style: "display: none;" %>
        <%= f.submit%>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <h2>Items</h2><br>
  <% @todo_items.each do |todo_item| %>
        <tr>
            <span>
              <%= todo_item.title %>
              <%= form_for (todo_item) do |f| %>
                <%= f.check_box :completed %>
                <%= f.submit %>
              <% end %>
            </span>
            <br>
        </tr>
  <% end %>
  </tbody>
</table>



<br>

<%= link_to 'All', todo_items_path(completed: "all") %> |    
<%= link_to 'Completed Items', todo_items_path(completed: true) %> |
<%= link_to 'Active Items', todo_items_path(completed: false) %>
</center>