<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @todo_item.index %>
</p>

<p>
  <strong>Create:</strong>
  <%= @todo_item.create %>
</p>

<p>
  <strong>Update:</strong>
  <%= @todo_item.update %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @todo_item.destroy %>
</p>

<p>
  <strong>New:</strong>
  <%= @todo_item.new %>
</p>

<p>
  <strong>Show:</strong>
  <%= @todo_item.show %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
